In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv("../data/raw/OnlineRetail.csv", encoding="latin1")



# Show first 5 rows
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [3]:
# Dataset shape
print("Shape of dataset:", df.shape)

# Data types
df.info()

Shape of dataset: (541910, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  object
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [4]:
# Check missing values
df.isnull().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [5]:
# Check duplicate rows
df.duplicated().sum()

np.int64(5268)

In [6]:
# Check negative quantities (returns)
negative_quantity = (df["Quantity"] < 0).sum()

# Check zero or negative prices
invalid_price = (df["Price"] <= 0).sum()

negative_quantity, invalid_price

(np.int64(10624), np.int64(2517))

In [7]:
# Create a working copy of the dataset
df_clean = df.copy()

# Verify copy
df_clean.shape

(541910, 8)

In [8]:
# Remove duplicate rows
df_clean = df_clean.drop_duplicates()

# Check shape after removing duplicates
df_clean.shape

(536642, 8)

In [9]:
# Remove rows with negative quantity
df_clean = df_clean[df_clean["Quantity"] > 0]

# Remove rows with zero or negative price
df_clean = df_clean[df_clean["Price"] > 0]

# Check shape after removing invalid transactions
df_clean.shape

(524879, 8)

In [10]:
# Remove rows with missing product descriptions
df_clean = df_clean.dropna(subset=["Description"])

# Check shape after removing missing descriptions
df_clean.shape

(524879, 8)

In [11]:
# Convert InvoiceDate to datetime
df_clean["InvoiceDate"] = pd.to_datetime(df_clean["InvoiceDate"], dayfirst=True)

# Create Revenue column
df_clean["Revenue"] = df_clean["Quantity"] * df_clean["Price"]

# Verify changes
df_clean[["InvoiceDate", "Revenue"]].head()

          InvoiceDate  Revenue
0 2010-12-01 08:26:00    15.30
1 2010-12-01 08:26:00    20.34
2 2010-12-01 08:26:00    22.00
3 2010-12-01 08:26:00    20.34
4 2010-12-01 08:26:00    20.34

In [12]:
# Save cleaned dataset to processed folder
df_clean.to_csv("../data/processed/OnlineRetail_Cleaned.csv", index=False)

print("Cleaned dataset saved successfully")

Cleaned dataset saved successfully